* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-50: #f0f2f5;

  --dark: #121212;
}

body {
  background: var(--dark);
}

body,
input,
button {
  font: 500 1rem Roboto, sans-serif;

  color: var(--gray-50);
}

h1,
h2,
h3 {
  font-weight: 700;
}

button {
  cursor: pointer;
}
